<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{titulo}}</title>
</head>
<body>
    <h1>{{titulo}}</h1>
    <p>{{resultado}}</p>
    <a href="/rota1">Voltar para a Rota 1</a>
</body>
</html>
